.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 3;
}

.sign-out-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	min-height: 36px;
}

.sign-out-btn {
	min-height: 40px;
}
