@using IdentityServer4.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IdentityServer</title>
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.min.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-light">
    <div class="container h-100">
        @RenderBody()
    </div>
    <script src="~/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
