@model LoggedOutViewModel
@{
    // set this so the layout rendering sees an anonymous user
    ViewData["signed-out"] = true;
    Layout = "_Layout";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="card w-50 text-black-50 login-box">
        <div class="card-header text-center border-0 bg-transparent mt-4">
            <h4 class="text-primary">Code For Fun</h4>
            <small>You are now logged out</small>
        </div>

        <div class="card-body">
            @if (Model.PostLogoutRedirectUri != null)
            {
                <div class="d-flex justify-content-center">
                    <span>Please click</span>
                    <span>
                        <a class="mx-1 PostLogoutRedirectUri" href="@Model.PostLogoutRedirectUri">here</a>
                    </span>
                    <span>if you are not redirected within a few seconds</span>
                </div>
            }
        </div>
    </div>
</div>

@if (Model.AutomaticRedirectAfterSignOut)
{
    <script src="~/js/signout-redirect.js"></script>
}
