@model LoginViewModel
@{
    Layout = "_Layout";
}

@await Html.PartialAsync("_ValidationSummary")

@if (Model.EnableLocalLogin)
{
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="card w-50 text-black-50 login-box">
            <div class="card-header text-center border-0 bg-transparent mt-4">
                <h4 class="text-primary">Code For Fun</h4>
                <h5>Sign in</h5>
            </div>

            <div class="card-body">
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />
                    <div class="form-group">
                        <label asp-for="Username" class="text-black-50"></label>
                        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="text-black-50"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    @if (Model.AllowRememberLogin)
                    {
                        <div class="form-group">
                            <div class="form-check abc-checkbox abc-checkbox-primary">
                                <input asp-for="RememberLogin" class="form-check-input">
                                <label asp-for="RememberLogin" class="form-check-label text-black-50 unselectable">
                                    Remember me
                                </label>
                            </div>
                        </div>
                    }
                    <div class="form-group text-right">
                        <button class="btn btn-primary w-25" name="button" value="login">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
}